@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body {
  background-color: #192a56;
  font-family: 'Roboto Mono', monospace;
  color: #f5f6fa;
}

.char {
  color: #dcdde1;
  font-size: 2em;
  display: inline-block;
}

.selected {
  background-color: #487eb0;
  color: #f5f6fa;
}